body, html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(31, 30, 30);
}

h1, p, h2, h3 {
    width: fit-content;
}
.create-button {
    font-size: 70px;
    color: #915AC5;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: 10px;
}
.code-box {
    font-size: 25px;
    width: 200px;
    color: #313131;
    border: 0; 
    border-radius: 5px;
    padding: 10px;
}
.login-button {
    background-color: #915AC5;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 60px;
}
.code-box:focus {
    outline: 0;
    color: rgb(31, 30, 30);
}
.center {
    position: absolute; 
    left: 50%; 
    top: 40%;
    transform: translate(-50%);

}
.topbar {
    position: absolute;
    top: 0px;
    height: 80px;
    width: 100%;
}
.playing-display {
    width: 300px;
    height: 490px;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    padding: 10px;
    word-wrap: break-word;
    margin: 30px;
}
.spotify-link {
    color: white;
    text-decoration: none;
}
.spotify-link:hover {
    text-decoration: underline;
}
.member-container {
    width: 300px;
    height: 490px;
    background-color: rgb(24, 24, 24);
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
    word-wrap: break-word;
}
.member-list {
    list-style: none;
    font-size: 25px;
    color: white;
    padding-left: 0;
    word-wrap: break-word;
}
.member-list li {
    margin-bottom: 20px;
    font-style: italic;
}
.party-info-container {
    background-color: rgb(24, 24, 24);
    margin-top: 20vh;
    border-radius: 10px;
    display: inline-flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width: 759px){
    .party-info-container {
        width: 300px;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .playing-display, .member-container {
        margin: 0;
    }
}
@media screen and (max-width: 362px){
    .playing-display img {
        height: 200px;
    }
    .party-info-container {
        width: 200px;
    }
    .playing-display {
        height: 390px;
    }
}
#home-link img {
    position: relative;
    top: 3px;
    height: 60px;
}
#home-link {
    position: relative;
    top: 10px;
    left: 20%;
}
#logout-link {
    font-size: 20px;
    position: absolute;
    top: 35px;
    right: 15%;
    color: white;
    text-decoration: none;
}
#error-text {
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    color: #ffffff;
    transform: translateX(-50%);
}
